.game-board {
  max-width: max-content;
  margin: 0 auto;
  background-color: #000 !important;
}
body{
  background-color: #000 !important;
  color: #fff !important;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.pacman-body{


}
@media(max-width:767px){
  .pacman-body{
    padding-top: 60px !important;

  }
}
@media(min-width:768px){
.pacman-body{
  overflow: hidden;

}
}
.story-body{
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Ensure the positioning context */
}
.ghost,.pacman{
  z-index: 10000000000 !important;
}
.start-message,
.game-over,
.win-message {
  text-align: center;
  font-size: 22px;
  margin: 20px 0 !important;
}
h2{
  font-size: 28px;
}
.start-message,.start-message-mobile{
  text-align: center;
  color: yellow;
  animation: blinkText 1s infinite;
}
.start-message-mobile{
  display: none !important;
}
@media(max-width:767px){
  .start-message-mobile{
    display: flex !important;
  }
}
.start-button{
  animation: blinkText 1s infinite;
}
.start-message span{
  padding: 10px 20px; border: 2px solid yellow; border-radius: 10px;
  
}
.score {
  text-align: center;
  font-size: 20px;
}

.cell {
  position: relative;
}

.pacman {
  background-color: yellow;
}

.ghost {
  position: absolute;
  width: 32px;
  height: 32px;
}


.pacman__eye {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 2px;
  left:5px;
  background: #333333;
}

.pacman__mouth {
  background: #000 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
   clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
   clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}
.game-board {
  max-width: max-content;
  background-color: #000 !important;
  border: 5px solid #fff; /* Dark blue border for the maze */
  padding: 20px;
}

.cell {
  position: relative;
}

.cell.wall {
  border-width: 0.5px; /* Make wall lines thinner */
  /* background: linear-gradient(145deg, #000080, #0000ff); Add a 3D effect to walls */
  background: #000080;
}


.cell .dot {
  background-color: yellow;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px yellow; /* Glow effect for dots */
}

.game-over, .win-message {
  text-align: center;
  font-size: 30px;
  animation: blinkText 1s infinite;
}

.game-over{
  color: red;

}
.win-message{
  color: green;
}
@keyframes blinkText {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.control-button{
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 36px;
}
.controls{
  position: absolute;
  bottom: 0 !important;
  display: flex;
  flex-direction: column;
  right: 0 !important;
}
.center-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 !important;
}
.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.score, .lives {
 display: block;
 font-size: 24px;
}
@keyframes die-animation {
  from {
      transform: scale(1);
      opacity: 1;
  }
  to {
      transform: scale(0.5);
      opacity: 0 !important; /* Fade out */
  }
}

.dying-animation {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  background-color: red; /* Change this to customize the dying color */
  border-radius: 50%; /* Make it round */
  width: 20px; /* Match Pacman's size */
  height: 20px; /* Match Pacman's size */
}




.wall-last-horizontal{
  border-top-right-radius: 20px;
  border-top-left-radius: 0 ;
  border-bottom-right-radius: 20px ;
  border-bottom-left-radius: 0 ;
}

.wall-first-horizontal{
  border-top-right-radius: 0;
  border-top-left-radius: 20px ;
  border-bottom-right-radius: 0 ;
  border-bottom-left-radius: 20px ;
}


.wall-first-vertical{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px ;
  border-bottom-right-radius: 0 ;
  border-bottom-left-radius: 0 ;
}

.wall-last-vertical{
  border-top-right-radius: 0;
  border-top-left-radius: 0 ;
  border-bottom-right-radius: 20px ;
  border-bottom-left-radius: 20px ;
}

.corner-top-left {
  border-top-left-radius: 20px;
}

.corner-top-right {
  border-top-right-radius: 20px;
}

.corner-bottom-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.corner-bottom-right {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.inner-corner-top-left {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.inner-corner-top-right {
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.inner-corner-bottom-left {
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.inner-corner-bottom-right {
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.outer-corner-top-left {
  border-top-left-radius: 15px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.outer-corner-top-right {
  border-top-right-radius: 15px;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.outer-corner-bottom-right {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 0 !important;
}
.outer-corner-bottom-left {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 15px !important;
}

/* Other outer corner styles... */
.corner-top-left {
  border-top-left-radius: 15px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.corner-top-right {
  border-top-right-radius: 15px;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.corner-bottom-right {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 0 !important;
}
.corner-bottom-left {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 15px !important;
}
.custom-list {
  list-style: none; /* Remove default bullets */
  padding-left: 0;
}

.custom-list li {
  position: relative;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.custom-list li::before {
  content: ""; /* Replace with your icon path */
  position: absolute;
  left: 0;
  top: 10px;
  width: 30px !important; /* Adjust size as needed */
  height: 30px !important;
  background-image: url('/bullet.png'); /* Path to your icon image */
  transform: rotate(-90deg);
  background-size: contain;
  background-repeat: no-repeat;
}


@media(max-width:767px){
  .start-message{
    display: none;
  }
  .landing-header{
    flex-direction: column;
    gap: 0 !important;
  }
  .landing-header h2{
    font-size: 20px !important;

  }
  .logo{
    width: 50% !important;
    height: 60% !important;
    
  }
  .buttons{
    width: 100% !important;
  }
  p{
    font-size: 16px !important;
  }
  .moving-icon,.moving-icon2,.moving-icon3{
    width: 70px !important;
    height: 70px !important;
    position: absolute;
  }
  .moving-icon{
    left: 20px; 
    top: 20px;
  }
  .moving-icon2{
    position: absolute;
    bottom: 50%;
    right: 20px;
  }
  .moving-icon3{
    position: absolute;
    bottom: 50%;
    left: 20px;
  }
  .controls{
    position: relative !important;
  }
  .info{
    flex-direction: column;
    gap: 0 !important;
  }
}
@media(min-width:768px){
  .moving-icon {
    width: 100px;
    height: 100px;
    /*background-color: #bf4141;*/
    opacity:1;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 250px;
    animation: MoveUpDown 10s linear infinite;
  }
  .moving-icon4 {
    width: 100px;
    height: 100px;
    background-color: #bf4141;
    opacity:1;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 150px;
    animation: MoveUpDownThree 10s linear infinite;
  }
  .moving-icon5 {
    width: 100px;
    height: 100px;
    background-color: #bf4141;
    opacity:1;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 300px;
    animation: MoveUpDownThree 10s linear infinite;
  }
  .moving-icon2 {
    width: 70px;
    height: 70px;
    /* background-color: #bf4141; */
    opacity:1;
    /* border-radius: 50%; */
    position: absolute;
    bottom: 100px;
    right: 150px;
    animation: MoveUpDownTwo 10s linear infinite;
  }
  .moving-icon3 {
    width: 70px;
    height: 70px;
    /* background-color: #bf4141; */
    opacity:1;
    /* border-radius: 50%; */
    position: absolute;
    top: 100px;
    right: 300px;
    animation: MoveUpDownThree 10s linear infinite;
  }
  @keyframes MoveUpDownTwo {
    0%, 100% {
      right: 5%;
    }
    50% {
      bottom: 40%;
    }
  }
  @keyframes MoveUpDownThree {
    0%, 100% {
      right: 20%;
    }
    50% {
      top: 40%;
    }
  }
  @keyframes a-one {
    from { top: 0; left: 0; }
    to   { top: 100px; left: 100px; }
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 100px;
    }
    50% {
      bottom: 40%;
    }
  }
  
  @keyframes shake { 
    0% {
      transform: translate3d( 0px, 0px, 0px);
      animation-timing-function: ease;
    } 
    25% {
      transform: translate3d( 50px, 10px, 0px); 
      animation-timing-function: ease; 
    } 
    25% {
      transform: translate3d( 50px, 50px, 0px); 
      animation-timing-function: ease; 
    } 
    75% {
      transform: translate3d( 40px, -30px, 0px); 
      animation-timing-function: ease; 
    } 
    100% {
      transform: translate3d( 0px, 0px, 0px); 
    }
  }
}

.story{
  width: 100%;
  /* height:160vh; */
  object-fit: contain;
}
.back{
  position: absolute;
  left: 10px;
  bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  gap: 10px;
}
.back-story{
  left: 10px;
  bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  gap: 10px;
  position: fixed;
  padding: 10px 20px;
  width: max-content;
  background: #171515;
}
@media(max-width:767px){
  .back{
    top: 0 !important;
    bottom: unset !important;
    left: 0 !important;
  }
}